<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css" >
</head>

<body>
    
    <h3><a href="https://github.com/cancerberoSgx/prettier-eslint-gallery">prettier-eslint-gallery - Project Home</a></h3>
   
    <h1>Files</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Original</th>
                {{#each styles}}
                   <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>

        <tbody>
        {{#each files}}
            <tr>
                {{#each this}}  
                <td>
                    {{#if @first}}
                    <input type="checkbox" title="Select for Diff" class="file-diff" data-input-file="{{this}}" data-input-file-simple="{{getMode this}}">
                    <button type="button" class="btn btn-link edit-file-button" data-input-file="{{this}}">{{getName this}}  </button>
                    {{else}}
                    {{#each this}}
                        <input type="checkbox" title="Select for Diff" class="file-diff" data-input-file="{{this}}" data-input-file-simple="{{getMode this}}">
                        <button type="button" class="btn btn-link edit-file-button" data-input-file="{{this}}">{{getMode this}}</button>
                        <br>
                    {{/each}}
                    {{/if}}
                </td>
                {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>    



    {{!-- editor modal --}}
    <div class="modal fade" id="editCodeModal" tabindex="-1" role="dialog" aria-labelledby="editCodeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="editCodeModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="editor-container">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    {{!-- diff modal --}}
    <button id="open-diff-modal" class="btn btn-primary">Diff selected</button>
    <div class="modal fade" id="diffModal" tabindex="-1" role="dialog" aria-labelledby="diffModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="diffModalLabel"></h4>
                </div>
                <div class="modal-body">

                    <div id="flex-container">
                        <div><div id="editor1"></div></div>
                        <div id="gutter"></div>
                        <div><div id="editor2"></div></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.7/ace.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>
    <script src="ace-diff.js"></script>

    <script src="frontend.js"></script>
    
</body>

</html>